<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>Matching Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
  <div id="game-container">
    <div id="left-cards" class="card-column">
      <div class="slot left-slot"  data-slot-index="0"></div>
      <div class="slot left-slot"  data-slot-index="1"></div>
      <div class="slot left-slot"  data-slot-index="2"></div>
      <div class="slot left-slot"  data-slot-index="3"></div>
      <div class="slot left-slot"  data-slot-index="4"></div>
      <div class="slot left-slot"  data-slot-index="5"></div>
    </div>
    <div id="right-cards" class="card-column">
      <div class="slot right-slot" data-slot-index="0"></div>
      <div class="slot right-slot" data-slot-index="1"></div>
      <div class="slot right-slot" data-slot-index="2"></div>
      <div class="slot right-slot" data-slot-index="3"></div>
      <div class="slot right-slot" data-slot-index="4"></div>
      <div class="slot right-slot" data-slot-index="5"></div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>

